{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        {% if category %}
            {{category.description|truncatewords:155}}
        {% else %}
            welcome to Sanford Academy....
        {% endif %}
{% endblock %}
{% block title %}
{% if category %}
        {{ category.name }}-Sanford Academy
    {% else %}
        Admission started
    {% endif %}
{% endblock %}


{% block content %}
{% if category %}
    <div>
        <div>

            <p><a href="{% url 'school:allProdCat' %}"  ><img src="" alt="">we offer the course</a> </p>
        </div>
    </div>
    {% endif %}
<div>
    {% if category %}
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
</div>
    {% else %}

<br>
<div>
    <h1 class="text-center my_title">We Offer The Best Courses</h1>


</div>
    {% endif %}

<div class="container">

    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem">
                <a href="{{product.get_url}}"><img class="card-img-top my-image" src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>

            </div>
            </div>
        </div>
        {% endfor %}
    </div>
     <br>
    </div>


{% endblock %}



